ul.media li {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

img.poster {
	height: 150px;
}

h4.name {
	width: 150px;
}

.movieLink > p 
}

#filterDiv{
	float: left;
	width: 20%;
}

#filterDiv > div {
	margin-left: 20px;
}