ul.media li {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

img.poster {
	height: 150px;
}

h4.name {
	width: 150px;
	margin-left: 15px;
}

.movieLink > p {
	margin-left: 20px;
}